/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.selection-box {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 4px;
    font-family: monospace;
    z-index: 100;
}

.selection-box div {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* SlidersPanel styles */
.sliders-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-family: monospace;
}

.sliders-panel div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ModePanel styles */
.mode-panel {
    position: absolute;
    top: 200px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-family: monospace;
}

.mode-panel button {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Active and inactive button colors */
.mode-panel button.active {
    background-color: #CCC;
}

.mode-panel button.inactive {
    background-color: #666;
}

.left-panel div {
    position: absolute;
    top: 250px; /* Same vertical position as the mode panel */
    right: 20px; /* Align with the right side of the screen */
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    gap: 10px; /* Add spacing between buttons */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-family: monospace;
}

.left-panel button {
    width: 40px;
    height: 40px;
    background-color: #888;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.triangle-info-box {
    position: absolute;
    top: 250px; /* Adjust this to position it below the SelectionBox */
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    z-index: 100;
}
